*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgb(255, 255, 255);
    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    /* background:linear-gradient(to left,#002B36, #14655B, #A7ffEB); */
    background-color: rgb(30, 27, 27);
    height: 70px;
    width: 100%;
    margin-top: 0%;
    padding: 20px 20px;
}
p{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 7px;
    
   
}
ul{
    display: flex;
    gap:80px;
    margin: 25px;
    list-style: none;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 30px;
    
}
.nav{
    display: flex;
    height: 70px;
    background-color: rgb(255, 255, 255);
    gap: 100px;
    box-shadow: 5px 5px 10px 2px rgb(234, 234, 234);


    img{
        height: 50px;   
        margin: 12px;
    }
}
.btn{
    height: 30px;
    width: 300px;
    margin-top: 1px;
    padding: 10px;
}
.pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin: 5px; */
}
.p p{
    color: white;
    background-color: #233f4a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 15px;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px; 
  flex-wrap: wrap;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
}


.all button {
  padding: 6px 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
}
.parent button{
    padding: 18px 20px;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color:rgb(5, 99, 190);
    border-radius: 10px;
    border-color: white;
    font-size: 20px;

}
#facewash{
       .box1{
        height: 400px;
        width: 400px;
        border: 2px solid blue;
        
       }
       .box2{
        height: 400px;
        width: 400px;
        border: 2px solid blue;
       }

    
        .box3{
        height: 400px;
        width: 400px;
        border: 2px solid blue;
       }

       #item{
        display: flex;
        position: relative;
        margin-top: 30px;
        padding: 10px;
        justify-content: space-evenly;
        margin-bottom: 50px;
       }

}

.child button{
    padding: 18px 20px;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color:rgb(137, 58, 137);
    border-radius: 10px;
    border-color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

#serum{
       .serum1{
        height: 400px;
        width: 400px;
        border: 2px solid rgb(137, 58, 137);
        
       }
       .serum2{
        height: 400px;
        width: 400px;
        border: 2px solid rgb(137, 58, 137);
       }

        .serum4{
        height: 400px;
        width: 400px;
        border: 2px solid rgb(137, 58, 137);
       }

       #atom{
        display: flex;
        position: relative;
        margin-top: 30px;
        padding: 10px;
        justify-content: space-evenly;
        margin-bottom: 50px;
       }

}

#img{
    height: 500px;
    width: 1900px;
    background-color: crimson;
}

.child1 button{
    padding: 18px 20px;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color:rgb(254, 138, 22);
    border-radius: 10px;
    border-color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

   
}

#sunscreen{
       .serum1{
        height: 400px;
        width: 400px;
        border: 2px solid rgb(254, 138, 22)
        
       }
       .serum2{
        height: 400px;
        width: 400px;
        border: 2px solid rgb(254, 138, 22);
       }

        .serum4{
        height: 400px;
        width: 400px;
        border: 2px solid rgb(254, 138, 22)
       }

       #sun{
        display: flex;
        position: relative;
        margin-top: 30px;
        padding: 10px;
        justify-content: space-evenly;
        margin-bottom: 50px;
       }

}